# Virtual environments
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter / pytest / mypy caches
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/

# Data
data/embeddings/*

# Logs
logs/
*.log

# Environment / secrets
.env
.env.*

# OS junk
.DS_Store
Thumbs.db
