# Google API Key
GOOGLE_API_KEY=your_google_api_key
GOOGLE_LLM_MODEL=gemma-3n-e4b-it
GOOGLE_LLM_TEMPERATURE=0.2
GOOGLE_LLM_MAX_OUTPUT_TOKENS=1024

# Vector database
QDRANT_URL=http://localhost:6333
COLLECTION_NAME=mental_health_advisor
TOP_K_DOCUMENTS = 5
SIMILARITY_THRESHOLD = 0.7

# BẮT BUỘC PHẢI CÓ, phụ thuộc vào môi trường
HOST=0.0.0.0
PORT=7005

# Hugging Face Embedding
EMBEDDING_MODEL=intfloat/multilingual-e5-base