# LLM và API Config
GOOGLE_API_KEY=your_google_api_key 
GOOGLE_LLM_MODEL=gemma-3n-e4b-it
GOOGLE_LLM_TEMPERATURE=0.2
GOOGLE_LLM_MAX_OUTPUT_TOKENS=1024

# Agent
ORCHESTRATOR_AGENT_HOST=0.0.0.0
ORCHESTRATOR_AGENT_PORT=7010
RAG_AGENT_URL=http://localhost:7005

# Config Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Config Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=

# Tùy chọn dành cho Redis
HISTORY_LIMIT=100
REDIS_TTL_SECONDS=86400
MAX_MESSAGE_CHARS=2000